<h1>Welcome to Trigger Unhappy</h1>
<p>It seems like the internet was in need of a database of movies and tv shows with trigger warnings, thus this site was born.  This site is only as good as we can make it.  If you have any suggestions, please feel free to use the contact section to send me an email.</p>  
<br />
<p>This site is dedicated to all those who need a bit of help every now and then.  You are not weak to ask for help and it's okay to know what you can and cannot deal with.  No one has a right to tell you how to be comfortable.</p>
